@mixin link {
    position: relative;
    color: $brand1;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    padding-bottom: 5px;

    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(100% + 2.5rem);
        height: calc(100% + 2.5rem);
        transform: translate(-50%, -50%);
        background-image: url('img/hover.png');
        opacity: 0;
        border-radius: 50%;
        box-shadow: 0 0 5px 5px #252122 inset;
        transition: all .2s ease;
    }

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: -2px;
        width: 100%;
        height: 0;
        border-top: 3px solid $brand1;
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        transition: all .2s ease;
    }

    &:hover {
        &:after {
            opacity: 0;
        }

        &:before {
            opacity: 0.4;
        }
    }
}