@import "node_modules/normalize.scss/normalize";
@import "libs/swiper.min.css";
@import "variables";
@import "mixins";

*,::after,::before {
    box-sizing: border-box
}

ol,ul {
    padding: 0
}

blockquote,body,dd,dl,figcaption,figure,h1,h2,h3,h4,li,ol,p,ul {
    margin: 0
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5
}

ol[class],ul[class] {
    list-style: none
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

img {
    max-width: 100%;
    display: block
}

article>*+* {
    margin-top: 1em
}

button,input,select,textarea {
    font: inherit
}

@media (prefers-reduced-motion:reduce) {
    * {
        -webkit-animation-duration: 0s!important;
        animation-duration: 0s!important;
        -webkit-animation-iteration-count: 1!important;
        animation-iteration-count: 1!important;
        -webkit-transition-duration: 0s!important;
        transition-duration: 0s!important;
        scroll-behavior: auto!important
    }
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans-Italic.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans-LightItalic.ttf);
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    src: url(fonts/OpenSans/OpenSans-Light.ttf);
    font-weight: 300;
    font-style: normal
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%
}

.layout {
    position: relative;
    margin: 0 -20px
}

.layout__main {
    padding: 20px
}

.layout__aside {
    padding: 20px
}

.layout__title {
    text-align: center;
    width: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    margin: 20px 0;
    font-size: 2.6rem;
    line-height: 1.2
}

.layout__title.center {
    -webkit-box-pack: center;
    justify-content: center
}

.main__content {
    padding-top: 80px!important
}

.main__name {
    font-weight: 800;
    line-height: 1;
    padding: 15px;
    font-size: 2.4rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-clip-path: polygon(0 0,100% 11%,98% 86%,2% 101%);
    clip-path: polygon(0 0,100% 11%,98% 86%,2% 101%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#207379),color-stop(99%,#136a8a));
    background: linear-gradient(0deg,#207379 0,#136a8a 99%)
}

.main__name-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 50px auto
}

.main__name_dec-after {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    height: 10px;
    fill: #ff0
}

.main__name_dec-before {
    position: absolute;
    z-index: 2;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 5px;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    fill: #e9417d
}

.main__name_dec-dots-l {
    position: absolute;
    z-index: 2;
    fill: #ff0;
    width: 40px;
    left: -30px;
    top: 5px
}

.main__name_dec-dots-f {
    position: absolute;
    z-index: 2;
    fill: #ff0;
    width: 60px;
    right: -50px;
    top: 20px
}

.main__name_dec-circ-l {
    position: absolute;
    z-index: 2;
    fill: #e9417d;
    top: -20px;
    left: 30%;
    width: 15px
}

.main__name_dec-circ-f {
    position: absolute;
    z-index: 2;
    fill: #e9417d;
    width: 20px;
    top: -30px;
    right: 15%
}

.footer,.header {
    flex-shrink: 0
}

main {
    -webkit-box-flex: 1;
    flex-grow: 1
}

.list {
    list-style: none;
    list-style-type: none;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}

@media (min-width: 768px) {
    .container {
        padding:0 30px
    }

    .layout {
        margin: 0 -30px
    }

    .layout__main {
        padding-left: 30px;
        padding-right: 30px
    }

    .layout__title {
        margin: 30px 0;
        font-size: 3.8rem
    }
}

@media (min-width: 992px) {
    .layout {
        display:-webkit-box;
        display: flex;
        -webkit-box-align: start;
        align-items: flex-start
    }

    .layout__main {
        padding-bottom: 60px;
        -webkit-box-flex: 1;
        flex-grow: 1
    }
}

*,:after,:before {
    box-sizing: border-box
}

:focus {
    outline: 0!important
}

html {
    font-size: 10px;
    max-width: 100vw;
    overflow-x: hidden
}

body {
    background-color: #222;
    color: #fff;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    max-width: 100%
}

body.body_overflow {
    overflow: hidden;
    height: 100vh;
    width: 100vw
}

body .mt_hidden {
    display: none
}

body .hidden {
    height: 0!important;
    display: block;
    background: 0 0;
    color: transparent
}

iframe,img,video {
    max-width: 100%;
    height: auto
}

.img_absolute {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.section {
    padding: 10px 0
}

.lazyload,.lazyloading {
    opacity: 0
}

.lazyloaded {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

@media (min-width: 768px) {
    body .mt_hidden {
        display:-webkit-box;
        display: flex
    }

    body .t_hidden {
        display: none
    }

    .section {
        padding: 15px 0
    }
}

.h1,h1 {
    font-size: 2.92308rem
}

.h2,h2 {
    font-size: 2.30769rem
}

.h3,h3 {
    font-size: 2rem
}

.h4,h4 {
    font-size: 1.69231rem
}

.h5,h5 {
    font-size: 1rem
}

.h6,h6 {
    font-size: .8rem
}

ul {
    margin: 0
}

table {
    width: 100%;
    margin-bottom: 15px
}

th {
    font-weight: 700;
    text-align: left
}

thead tr th {
    border-bottom: 1px dashed #e9417d
}

tr:nth-child(2n) {
    background: rgba(233,65,125,.03)
}

tr:last-child td {
    border-bottom: 1px dashed #e9417d
}

tbody td {
    padding: 15px 7px
}

.content {
    padding: 20px 0;
    color: #e8ebed
}

.content img {
    margin: 0 auto
}

.content__title h1 {
    margin-bottom: 0!important
}

.content a {
    text-decoration: none;
    color: #e9417d
}

.content a:hover {
    text-decoration: underline
}

.content picture {
    display: block;
    margin: 0 auto 10px
}

.content picture[class] {
    margin-bottom: 0
}

.content a[class] {
    color: #fff
}

.content a[class]:hover {
    text-decoration: none
}

.content .button_pure,.content .button_yellow {
    margin: 0 auto 10px;
    padding: 15px 35px;
    -webkit-clip-path: polygon(95% 100%,6% 94%,1% 18%,99% 17%);
    clip-path: polygon(95% 100%,6% 94%,1% 18%,99% 17%)
}

.content .button_pure:hover,.content .button_yellow:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.content .button_yellow {
    color: #e9417d!important
}

.content ol,.content ul {
    padding-left: 30px
}

.content ol[class],.content ul[class] {
    margin: 0;
    padding: 0
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6,.content li,.content ol,.content p,.content ul {
    margin: 0;
    margin-bottom: 15px
}

.content .h1,.content .h2,.content .h3,.content .h4,.content .h5,.content .h6,.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
    text-shadow: 2px 2px 0 #e9417d;
    font-style: italic;
    text-align: center
}

@media (min-width: 768px) {
    .h1,h1 {
        font-size:3.8rem
    }

    .h2,h2 {
        font-size: 3rem
    }

    .h3,h3 {
        font-size: 2.6rem
    }

    .h4,h4 {
        font-size: 2.2rem
    }

    .h5,h5 {
        font-size: 2rem
    }

    .h6,h6 {
        font-size: 1.6rem
    }
}

.button,a,button,input {
    color: #fff;
    background: 0 0;
    padding: 0;
    text-decoration: none;
    font-weight: 600;
    margin: 0;
    border: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: color .3s,background .3s,border-color .3s,fill .3s,opacity .3s;
    transition: color .3s,background .3s,border-color .3s,fill .3s,opacity .3s
}

.button_gray,.button_pure,.button_yellow {
    padding: 10px 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
    z-index: 1;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: .3s;
    transition: .3s;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content
}

.button_center {
    margin: 10px auto
}

.button-line {
    text-transform: uppercase
}

.button-line_pure {
    color: #e9417d;
    border-bottom: 1px dashed #e9417d
}

.button-line_pure:hover {
    color: #ff0;
    border-color: #ff0
}

.button_pure {
    background: #e9417d;
    color: #fff
}

.button_pure:hover {
    color: #ff0
}

.button_yellow {
    background: #ff0;
    color: #e9417d
}

.button_anim:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2
}

.button_first {
    padding: 15px;
    -webkit-clip-path: polygon(0 25%,100% 0,100% 100%,9% 96%);
    clip-path: polygon(0 25%,100% 0,100% 100%,9% 96%)
}

.button_last {
    padding: 15px;
    -webkit-clip-path: polygon(0 13%,100% 0,96% 75%,0 95%);
    clip-path: polygon(0 13%,100% 0,96% 75%,0 95%)
}

.button__menu {
    display: block;
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px
}

.button__menu-line {
    width: 25px;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.button__menu-line:after,.button__menu-line:before {
    width: 25px;
    height: 2px;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    display: block;
    position: absolute;
    content: ''
}

.button__menu-line:after {
    top: -9px
}

.button__menu-line:before {
    top: 9px
}

.button__menu_active .button__menu-line {
    background: 0 0
}

.button__menu_active .button__menu-line:after,.button__menu_active .button__menu-line:before {
    top: 0;
    background: #e9417d
}

.button__menu_active .button__menu-line:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.button__menu_active .button__menu-line:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

@media (min-width: 768px) {
    .button_md {
        padding:20px 45px
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-transition: .3s;
    transition: .3s;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),color-stop(10%,rgba(0,0,0,.5)),color-stop(20%,rgba(0,0,0,.4)),color-stop(30%,rgba(0,0,0,.3)),color-stop(40%,rgba(0,0,0,.2)),color-stop(50%,rgba(0,0,0,.1)),to(rgba(255,0,0,0)));
    background: linear-gradient(180deg,rgba(0,0,0,.6) 0,rgba(0,0,0,.5) 10%,rgba(0,0,0,.4) 20%,rgba(0,0,0,.3) 30%,rgba(0,0,0,.2) 40%,rgba(0,0,0,.1) 50%,rgba(255,0,0,0) 100%);
    z-index: 11;
}

.header_fixed {
    background: #1e727c
}

.header_fixed .header__container {
    height: 50px
}

.header_fixed .logo {
    margin-bottom: 0
}

.header_fixed .logo {
    display: flex;
    align-items: center;
    width: 70px;

    img {
        height: 80%;
    }
}

.header_fixed .logo__svg {
    display: none
}

.header_active {
    background: #222;
    height: 80px
}

.header__container {
    display: -webkit-box;
    display: flex;
    position: relative;
    height: 80px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-transition: .3s;
    transition: .3s
}

.header__fixed {
    box-shadow: 0 2px 10px rgba(0,0,0,.5)
}

.navigation {
    padding: 10px 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex: 1 0;
    height: 100%
}

.navigation__container {
    display: block;
    position: absolute;
    top: 75px;
    left: 0;
    opacity: 0;
    width: 100%;
    background: #222;
    height: 0!important;
    -webkit-transition: .3s;
    transition: .3s
}

.navigation__container_visible {
    top: 80px;
    opacity: 1;
    height: calc(100vh - 80px)!important
}

.navigation__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-height: 100%;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    padding: 20px 10px;
    top: -50px
}

.navigation__item {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 100%;

    &:hover {
        & > .sub-menu {
            display: block;
        }
    }

    .sub-menu {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        border-radius: 5px;
        border: 1px solid #ff0;
        background: rgba(0,0,0,0.5);

        li {
            padding: 0 10px;
        }

        .sub-menu {
            left: 100%;
            top: 0;
            min-width: 200px;
        }
    }
}

.navigation__link {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation__link-svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-right: 10px
}

.navigation__link:hover {
    color: #ff0;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.navigation__link:hover .navigation__link-svg {
    fill: #ff0
}

.navigation__links {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: absolute;
    -webkit-box-align: end;
    align-items: flex-end;
    top: 10px;
    right: 60px
}

.navigation__links .button_first {
    margin-right: 15px
}

.navigation__links .button_last {
    margin-top: -15px
}

.logo {
    width: 50px;
    display: -webkit-box;
    display: flex;
    margin-bottom: -10px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center
}

.logo__svg {
    display: block;
    width: 100%
}

.logo__active {
    display: none
}

@media (max-width: 768px) {
    .header__container {
        padding:0 10px
    }

    .navigation__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .sub-menu {
        display: block !important;
        border: none !important;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        padding-left: 10px;
        width: 100%;
        background: transparent !important;
    }
}

@media (min-width: 768px) {
    .logo {
        width:60px;
        min-width: 60px;
        margin-bottom: -40px
    }

    .navigation {
        height: 100%;
        padding: 0
    }

    .navigation__container {
        height: 100%;
        background: 0 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        top: 0;
        height: 100%!important;
        opacity: 1
    }

    .navigation__list {
        padding: 0 20px;
        height: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row
    }

    .navigation__item {
        -webkit-box-flex: 1;
        flex: 1 0 100px
    }

    .navigation__link {
        font-size: 1.6rem
    }

    .navigation__link-svg {
        width: 30px;
        height: 30px
    }

    .navigation__links {
        position: relative;
        right: 0
    }
}

@media (min-width: 992px) {
    .navigation__link {
        font-size:1.8rem
    }
}

@media (min-width: 1200px) {
    .navigation__list {
        padding:0 20px 0 30px
    }

    .navigation__link {
        font-size: 2rem
    }

    .navigation__links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        position: relative;
        top: 0;
        right: 0
    }

    .navigation__links .button_first {
        margin-right: 0;
        z-index: 2
    }

    .navigation__links .button_last {
        margin: 0 0 -20px -30px;
        padding-bottom: 25px
    }

    .navigation__links .button_last:active,.navigation__links .button_last:focus,.navigation__links .button_last:hover {
        z-index: 3
    }

    .logo {
        width: 90px;
        margin-bottom: -60px
    }
}

.breadcrumbs {
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 15px 10px 0!important
}

.breadcrumbs__item {
    display: -webkit-box;
    display: flex;
    text-transform: uppercase;
    line-height: 1;
    -webkit-box-align: center;
    align-items: center;
    margin: 5px 0;
    cursor: default;
    color: #e9417d
}

.breadcrumbs__item:after {
    content: '>';
    margin: 0 10px;
    color: #e9417d
}

.breadcrumbs__item:first-child .breadcrumbs__link {
    text-decoration: underline
}

.breadcrumbs__item:last-child .breadcrumbs__link {
    color: #ff0
}

.breadcrumbs__item:last-child::after {
    display: none
}

.breadcrumbs__link {
    display: -webkit-box;
    display: flex;
    text-decoration: none;
    color: #e9417d
}

.breadcrumbs__link:hover {
    color: #ff0
}

.carusel {
    display: block;
    width: 100%;
    overflow: hidden
}

.carusel__container {
    display: -webkit-box;
    display: flex;
    min-width: 100%;
    position: relative;
    height: 30vw;
    min-height: 270px;
    max-height: 420px
}

.carusel__list {
    position: relative;
    width: 100%;
    height: 100%
}

.carusel__unit {
    display: -webkit-box;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s
}

.carusel__picture {
    position: relative;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: block
}

.carusel__indicator {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2
}

.carusel__dots {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.carusel__dot {
    display: block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: 0 0;
    border-radius: 50%;
    margin: 5px;
    background: 0 0;
    border: 1px solid #e8ebed;
    position: relative
}

.carusel__dot:after {
    content: '';
    width: 60%;
    height: 60%;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.carusel__container[data-position="1"] .carusel__unit[data-position="1"] {
    opacity: 1!important
}

.carusel__container[data-position="1"] .carusel__dot[data-position="1"] {
    border-color: #ff0
}

.carusel__container[data-position="1"] .carusel__dot[data-position="1"]:after {
    background: #ff0
}

.carusel__container[data-position="2"] .carusel__unit[data-position="2"] {
    opacity: 1!important
}

.carusel__container[data-position="2"] .carusel__dot[data-position="2"] {
    border-color: #ff0
}

.carusel__container[data-position="2"] .carusel__dot[data-position="2"]:after {
    background: #ff0
}

.carusel__container[data-position="3"] .carusel__unit[data-position="3"] {
    opacity: 1!important
}

.carusel__container[data-position="3"] .carusel__dot[data-position="3"] {
    border-color: #ff0
}

.carusel__container[data-position="3"] .carusel__dot[data-position="3"]:after {
    background: #ff0
}

.carusel__container[data-position="4"] .carusel__unit[data-position="4"] {
    opacity: 1!important
}

.carusel__container[data-position="4"] .carusel__dot[data-position="4"] {
    border-color: #ff0
}

.carusel__container[data-position="4"] .carusel__dot[data-position="4"]:after {
    background: #ff0
}

.carusel__container[data-position="5"] .carusel__unit[data-position="5"] {
    opacity: 1!important
}

.carusel__container[data-position="5"] .carusel__dot[data-position="5"] {
    border-color: #ff0
}

.carusel__container[data-position="5"] .carusel__dot[data-position="5"]:after {
    background: #ff0
}

.carusel__container[data-position="6"] .carusel__unit[data-position="6"] {
    opacity: 1!important
}

.carusel__container[data-position="6"] .carusel__dot[data-position="6"] {
    border-color: #ff0
}

.carusel__container[data-position="6"] .carusel__dot[data-position="6"]:after {
    background: #ff0
}

@media (min-width: 768px) {
    .carusel__picture {
        max-height:260px
    }

    .carusel__content {
        -webkit-box-align: start;
        align-items: flex-start;
        text-align: left;
        justify-content: space-around;
        padding: 10px 40px
    }

    .carusel__title {
        max-width: 300px
    }
}

.faq {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.faq a {
    color: #e9417d
}

.faq a:hover {
    text-decoration: underline
}

.faq__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 10px 15px
}

.faq__item:nth-child(2n+1) {
    background: rgba(233,65,125,.05)
}

.faq__item[open] {
    padding-bottom: 0
}

.faq__title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 5px;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center
}

.faq__title::before {
    content: "+";
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #e9417d;
    width: 10px;
    height: 10px;
    margin: 0;
    font-size: 2.2rem
}

.faq__title:hover {
    cursor: pointer
}

.faq__content {
    padding: 5px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

summary::-webkit-details-marker {
    color: transparent
}

details[open] summary::before {
    content: "-"
}

.categories {
    padding: 20px 0!important
}

.categories__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: center;
    overflow-x: auto
}

.categories__item {
    display: -webkit-box;
    display: flex;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content
}

.categories__link {
    padding: 10px 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    font-size: 1.6rem;
    -webkit-transition: .3s;
    transition: .3s
}

.categories__link:hover {
    color: #ff0
}

.categories__link:hover .categories__svg {
    fill: #ff0
}

.categories__svg {
    -webkit-transition: .3s;
    transition: .3s;
    fill: #fff;
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
    display: block
}

@media (min-width: 992px) {
    .catalog__link {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        flex-direction: row
    }

    .catalog__svg {
        margin-bottom: 0;
        margin-right: 5px
    }
}

.promo__list {
    flex-wrap: wrap;
    display: -webkit-box;
    display: flex;
    justify-content: space-around
}

.promo__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
    position: relative;
    max-width: 340px;
    -webkit-transition: .5s;
    transition: .5s
}

.promo__item:after {
    position: absolute;
    width: 95%;
    height: 85%;
    -webkit-clip-path: polygon(90% 93%,3% 99%,0 6%,95% 0);
    clip-path: polygon(90% 93%,3% 99%,0 6%,95% 0);
    top: 5%;
    left: -3px;
    content: "";
    z-index: -1;
    background: #8e58a3
}

.promo__item:before {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    -webkit-transform: rotate(-43deg);
    transform: rotate(-43deg);
    width: 40px;
    background: #e9417d;
    -webkit-transition: .5s;
    transition: .5s
}

.promo__item .button_pure {
    margin-top: -20px;
    padding: 15px 35px;
    -webkit-clip-path: polygon(95% 100%,6% 94%,1% 18%,99% 17%);
    clip-path: polygon(95% 100%,6% 94%,1% 18%,99% 17%)
}

.promo__item .button_pure:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.promo__item:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}

.promo__item:hover:before {
    width: 55px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    right: 0;
    background: 0 0;
    border: 1px dashed #ff0
}

.promo__item:hover .promo__dec-after {
    opacity: 1
}

.promo__item:hover .promo__dec-after:after {
    width: 50px;
    border-color: #ff0;
    top: 2%;
    left: -15%
}

.promo__item:hover .promo__dec-after:before {
    -webkit-transform: scale(1);
    transform: scale(1);
    background: #e9417d
}

.promo__item:hover .promo__dec-before {
    opacity: 1
}

.promo__item:hover .promo__dec-before:before {
    -webkit-transform: translateX(-40%) rotate(-30deg);
    transform: translateX(-40%) rotate(-30deg)
}

.promo__item:hover .promo__dec-before:after {
    bottom: 15px
}

.promo__dec-after {
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1
}

.promo__dec-after:after {
    content: '';
    display: block;
    width: 25px;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    height: 2px;
    border: 1px dashed #e9417d;
    position: absolute;
    top: 5%;
    left: -5%;
    -webkit-transition: .5s;
    transition: .5s
}

.promo__dec-after:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ff0;
    top: 10px;
    left: 10px;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .5s;
    transition: .5s
}

.promo__dec-before {
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0
}

.promo__dec-before:after {
    position: absolute;
    bottom: 0;
    left: 30%;
    content: '';
    width: 90px;
    -webkit-transition: .5s;
    transition: .5s;
    height: 1px;
    background: #ff0;
    -webkit-transform: translateX(-50%) rotate(15deg);
    transform: translateX(-50%) rotate(15deg)
}

.promo__dec-before:before {
    position: absolute;
    bottom: 0;
    left: 30%;
    content: '';
    -webkit-transition: .5s;
    transition: .5s;
    width: 90px;
    height: 1px;
    border: 1px dashed #e9417d;
    -webkit-transform: translateX(-40%) rotate(-15deg);
    transform: translateX(-40%) rotate(-15deg)
}

.promo__picture {
    width: 100%;
    display: block;
    height: 50vw;
    max-height: 220px;
    position: relative;
    -webkit-clip-path: polygon(90% 93%,3% 99%,0 6%,95% 0);
    clip-path: polygon(90% 93%,3% 99%,0 6%,95% 0);
    z-index: 1
}

.promo__img {
    z-index: 2
}

.turnaments {
    margin-bottom: 20px
}

.turnaments .catalog {
    width: 100%;
    border: 1px dashed #ff0;
    padding: 20px 20px 0
}

.turnaments__container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}

.turnaments__item {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex: 1 0 100%
}

.turnaments__box {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 35px 0;
    -webkit-box-align: center;
    align-items: center
}

.turnaments__box .button_pure {
    -webkit-clip-path: polygon(14% 19%,88% 0,93% 86%,12% 92%);
    clip-path: polygon(14% 19%,88% 0,93% 86%,12% 92%);
    padding: 15px 30px 20px 40px
}

.turnaments__box .button_pure:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #c71756
}

.turnaments__description {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding: 35px 0;
    margin-bottom: 20px;
    position: relative;
    justify-content: space-around;
    min-height: 220px;
    min-width: 280px;
    -webkit-transition: .3s;
    transition: .3s
}

.turnaments__description:after {
    -webkit-transition: .3s;
    transition: .3s;
    content: '';
    display: block;
    width: 130%;
    height: 110%;
    min-width: 300px;
    background: #e9417d;
    -webkit-clip-path: polygon(4% 12%,100% 5%,90% 99%,10% 92%);
    clip-path: polygon(4% 12%,100% 5%,90% 99%,10% 92%);
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    position: absolute
}

.turnaments__description:hover:after {
    -webkit-transform: translateY(-55%) translateX(-50%);
    transform: translateY(-55%) translateX(-50%);
    background: #c71756
}

.turnaments__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem;
    z-index: 1;
    font-weight: 600;
    font-style: italic
}

.turnaments__name {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    z-index: 1;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff
}

.turnaments__date {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    padding: 10px 0
}

.turnaments__date_end,.turnaments__date_start {
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    text-align: center
}

.turnaments__icon {
    width: 140px;
    height: 140px;
    display: -webkit-box;
    display: flex;
    background: #e9417d;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
    -webkit-box-align: center;
    align-items: center
}

.turnaments__icon svg {
    fill: #fff;
    width: 90px;
    height: 90px
}

.turnaments__prize__title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 2.4rem;
    list-style: .7
}

.turnaments__prize__curent {
    letter-spacing: 1px;
    font-weight: 700;
    font-style: italic;
    color: #e9417d;
    font-size: 3rem
}

@media (min-width: 576px) {
    __description {
        padding:35px 40px
    }
}

@media (min-width: 768px) {
    .turnaments__description {
        padding:60px 0
    }

    .turnaments__box {
        -webkit-box-flex: 1;
        flex: 1 0 50%;
        max-width: 50%
    }
}

@media (min-width: 992px) {
    .turnaments__name {
        padding:0 20px 20px;
        font-size: 3rem
    }

    .turnaments__date {
        font-size: 2rem
    }
}

.catalog__list {
    grid-template-columns: repeat(2,1fr);
    position: relative;
    display: grid;
    overflow: hidden;
    width: 100%;
    margin: auto;
    grid-auto-columns: auto;
    grid-gap: 20px
}

.catalog__list_search.active {
    padding-bottom: 20px;
    position: relative
}

.catalog__list_search.active:after {
    content: '';
    display: block;
    border: 1px dashed #ff0;
    position: absolute;
    bottom: 2px;
    left: 50%;
    width: 100px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2
}

.catalog__list_search.active:before {
    z-index: 1;
    content: '';
    display: block;
    border: 1px solid #e9417d;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 120px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.catalog__item {
    display: -webkit-box;
    display: flex;
    height: 30vw
}

.catalog__item_wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid transparent
}

.catalog__pct {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.catalog__hover {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(0,0,0,.3);
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s
}

.catalog__hover:after,.catalog__hover:before {
    content: '';
    width: 0;
    -webkit-transition: .5s;
    transition: .5s;
    height: 0;
    display: block;
    position: absolute
}

.catalog__hover:after {
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #ff0;
    border-left: 1px solid #ff0
}

.catalog__hover:before {
    top: 0;
    right: 0;
    border-top: 1px solid #ffe029;
    border-right: 1px solid #ffe029
}

.catalog__hover:hover {
    opacity: 1
}

.catalog__hover:hover:after,.catalog__hover:hover:before {
    width: 100%;
    height: 100%
}

.catalog__hover:hover .catalog__title {
    top: 5%
}

.catalog__hover:hover .catalog__circle {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.catalog__title {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-shadow: 0 0 5px rgba(0,0,0,.4);
    text-transform: uppercase;
    font-size: 1.2rem;
    -webkit-transition: .5s;
    transition: .5s;
    font-weight: 700;
    z-index: 3
}

.catalog__title:hover {
    color: #ff0
}

.catalog__circle {
    display: block;
    width: 40px;
    height: 40px;
    background: #ff0;
    border-radius: 50%;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 3;
    -webkit-transform: scale(.9);
    transform: scale(.9);
}

.catalog__circle:after {
    content: "";
    display: block;
    position: absolute;
    top: 27px;
    left: 27px;
    transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    margin-top: -8px;
    margin-left: -4px;
    border-left-color: #e9417d;
    border-width: 8px 0 8px 14px;
    border-style: solid;
}

.catalog__circle:hover {
    -webkit-transform: scale(1.05)!important;
    transform: scale(1.05)!important
}

.catalog__none {
    color: #e9417d;
    max-width: max-content;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px dashed #e9417d
}

.catalog-promo-1 {
    grid-row: 2;
    grid-column: 1/3
}

.catalog-promo-2 {
    grid-row: 5;
    grid-column: 1/3
}

.catalog-promo-3 {
    grid-row: 8;
    grid-column: 1/3
}

.catalog-promo-4 {
    grid-row: 15;
    grid-column: 1/3
}

.catalog-promo-5 {
    grid-row: 18;
    grid-column: 1/3
}

.catalog-promo__wrapper {
    width: 100%;
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative
}

.catalog-promo__picture {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden
}

.catalog-promo__img {
    display: block;
    max-height: 90%;
    max-width: 90%
}

.catalog-promo__link {
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 15px 25px 15px 35px;
    color: #fff;
    -webkit-clip-path: polygon(8.6% 0,94.7% 0,92% 100%,13% 93%);
    clip-path: polygon(8.6% 0,94.7% 0,92% 100%,13% 93%)
}

.catalog-promo__link:hover {
    -webkit-transform: scale(1.05) translateX(-50%);
    transform: scale(1.05) translateX(-50%)
}

.catalog__all {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 0
}

.catalog__all_bg {
    background: url(img/more/load-more.webp);
    background-size: contain;
    width: 78px;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 45px;
    margin-bottom: 10px
}

.form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 10px 0;
    margin-bottom: 10px
}

.form__box {
    display: -webkit-box;
    display: flex;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content
}

.form input {
    padding: 8px 10px
}

.form .input {
    border: 1px solid #424242;
    color: #424242;
    background: #2c2c2c
}

.form .input:active,.form .input:focus,.form .input:hover {
    color: #e8ebed
}

.search__catalog__line {
    height: 40px
}

.search__catalog_btn {
    pointer-events: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    min-width: 40px;
    min-height: 100%
}

.search__catalog_svg {
    width: 15px;
    fill: #fff;
    height: 15px
}

.search__catalog_svg:active,.search__catalog_svg:focus,.search__catalog_svg:hover {
    fill: #ff0
}

@media (min-width: 576px) {
    .catalog__list {
        grid-template-columns:repeat(3,1fr)
    }

    .catalog__item {
        height: 18vw
    }

    .catalog__circle {
        width: 50px;
        height: 50px
    }

    .catalog__circle:after {
        top: 33px;
        left: 32px
    }

    .catalog-promo-1 {
        grid-row: 1/2;
        grid-column: 2/4
    }

    .catalog-promo-2 {
        grid-row: 7;
        grid-column: 2/4
    }

    .catalog-promo-3 {
        grid-row: 7;
        grid-column: 2/4
    }

    .catalog-promo-4 {
        grid-row: 11;
        grid-column: 2/4
    }

    .catalog-promo-5 {
        grid-row: 14;
        grid-column: 1/3
    }

    .catalog-promo__link {
        bottom: -5px
    }
}

@media (min-width: 768px) {
    .catalog__list {
        grid-template-columns:repeat(4,1fr)
    }

    .catalog__item {
        height: 13vw
    }

    .catalog-promo-1 {
        grid-row: 1/3;
        grid-column: 3/5
    }

    .catalog-promo-2 {
        grid-row: 5/7;
        grid-column: 1/3
    }

    .catalog-promo-3 {
        grid-row: 9/11;
        grid-column: 3/5
    }

    .catalog-promo-4 {
        grid-row: 13/15;
        grid-column: 1/3
    }

    .catalog-promo-5 {
        grid-row: 15/17;
        grid-column: 3/5
    }
}

@media (min-width: 992px) {
    .catalog__list {
        grid-template-columns:repeat(5,1fr)
    }

    .catalog__item {
        height: 10vw
    }

    .catalog__circle {
        width: 35px;
        height: 35px
    }

    .catalog__circle:after {
        top: 25px;
        left: 23px;
        border-width: 6px 0 6px 10px
    }

    .catalog__circle:hover {
        -webkit-transform: scale(1.1)!important;
        transform: scale(1.1)!important
    }

    .catalog-promo-1 {
        grid-row: 1/3;
        grid-column: 3/5
    }

    .catalog-promo-2 {
        grid-row: 4/6;
        grid-column: 1/3
    }

    .catalog-promo-3 {
        grid-row: 7/9;
        grid-column: 4/6
    }

    .catalog-promo-4 {
        grid-row: 9/11;
        grid-column: 2/4
    }

    .catalog-promo-5 {
        grid-row: 11/13;
        grid-column: 5/7
    }
}

@media (min-width: 1200px) {
    .catalog__list {
        grid-template-columns:repeat(6,1fr)
    }

    .catalog__item {
        max-height: 135px
    }
}

.game__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    
    .game__buttons {
        text-align: center;
    }
}

.game__title {
    margin-bottom: 20px
}

.game__wrapper {
    margin-bottom: 10px;

    &-info {
        width: auto;
        display: inline-block;
        margin-top: 30px;
        border: 1px solid #2a707d;
        padding: 15px 30px;

        &-title {
            margin-bottom: 15px;
            font-size: 20px;
        }

        ul {
            list-style: none;

            li {
                padding-left: 20px;
                position: relative;
                color: rgba(255,255,255, 0.7);

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                    width: 5px;
                    height: 5px;
                    background-color: #ff0;
                }
            }
        }
    }
}

.game__wrapper .flash-box,.game__wrapper .game__iframe,.game__wrapper iframe {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 50vw;
    max-height: 650px
}

.game__wrapper div[id] {
    width: 100%
}

.footer {
    background: url(img/more/bg-footer.svg),-webkit-gradient(linear,left top,left bottom,from(#2a707d),to(#222c2e));
    background: url(img/more/bg-footer.svg),linear-gradient(180deg,#2a707d,#222c2e);
    background-size: contain;
    padding: 40px 0 0;
    background-position: 50%;
    background-repeat: no-repeat
}

.footer__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.footer__wrapper {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}

.footer__aside {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 100%
}

.footer__main {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.footer-navigation {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

    ul {
        list-style: none;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;

        ul {
            padding-left: 15px;
        }

        li {
            font-weight: 700;
            letter-spacing: 1px;
            color: #a0a1a4;
            text-transform: uppercase;

            a {
                display: -webkit-box;
                display: flex;
                color: #fff;
                text-decoration: underline;
                padding: 7px 0;
                font-size: 14px;
                text-transform: none;

                &:hover {
                    color: #ff0
                }
            }
        }
    }
}

.copyright {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding: 30px 0
}

.payments__title {
    color: #a0a1a4
}

.payments__item {
    padding: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center
}

.payments__item-wrapper {
    width: 100px;
    height: 80px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center
}

.partners,.payments {
    display: -webkit-box;
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
    justify-content: space-around
}

.partners_icon,.payments_icon {
    background: url(img/more/sprite.png);
    background-image: -webkit-image-set(url("img/more/sprite.webp") 1x, url("img/more/sprite.webp") 2x);
    background-image: image-set(url("img/more/sprite.png") 1x, url("img/more/sprite.png") 2x);
    display: block;
    height: 20px;
    background-size: 542px
}

.partners_icon-visa,.payments_icon-visa {
    background-position: -494px -203px;
    width: 31px
}

.partners_icon-maestro,.partners_icon-visa,.payments_icon-maestro,.payments_icon-visa {
    height: 30px
}

.partners_icon-maestro,.payments_icon-maestro {
    background-position: -267px -174px;
    width: 50px
}

.partners_icon-qiwi,.payments_icon-qiwi {
    background-position: -494px -273px
}

.partners_icon-qiwi,.partners_icon-webmoney,.payments_icon-qiwi,.payments_icon-webmoney {
    width: 30px;
    height: 30px
}

.partners_icon-webmoney,.payments_icon-webmoney {
    background-position: -494px -303px
}

.partners_icon-yandex,.payments_icon-yandex {
    background-position: -517px -233px;
    width: 25px;
    height: 30px
}

.partners_icon-skrill,.payments_icon-skrill {
    background-position: -224px -150px;
    width: 58px
}

.partners_icon-neteller,.partners_icon-skrill,.payments_icon-neteller,.payments_icon-skrill {
    height: 20px
}

.partners_icon-neteller,.payments_icon-neteller {
    background-position: -137px -342px;
    width: 122px
}

.partners_icon-quickfire,.payments_icon-quickfire {
    background-position: -258px -242px;
    width: 75px
}

.partners_icon-netent,.partners_icon-quickfire,.payments_icon-netent,.payments_icon-quickfire {
    height: 30px
}

.partners_icon-netent,.payments_icon-netent {
    background-position: -53px -342px;
    width: 84px
}

.partners_icon-yggdrasil,.payments_icon-yggdrasil {
    background-position: -118px -174px;
    width: 149px
}

.partners_icon-quickspin,.partners_icon-yggdrasil,.payments_icon-quickspin,.payments_icon-yggdrasil {
    height: 30px
}

.partners_icon-quickspin,.payments_icon-quickspin {
    background-position: -333px 0;
    width: 124px
}

.partners_icon-pushgaming,.payments_icon-pushgaming {
    background-position: -100px -30px;
    width: 156px;
    height: 41px
}

.partners_icon-elk,.payments_icon-elk {
    background-position: -126px -395px;
    width: 77px
}

.partners_icon-elk,.partners_icon-thunderkick,.payments_icon-elk,.payments_icon-thunderkick {
    height: 30px
}

.partners_icon-thunderkick,.payments_icon-thunderkick {
    background-position: -97px -312px;
    width: 95px
}

.partners_icon-playngo,.payments_icon-playngo {
    background-position: -333px -220px;
    width: 108px
}

.partners_icon-amatic,.partners_icon-playngo,.payments_icon-amatic,.payments_icon-playngo {
    height: 30px
}

.partners_icon-amatic,.payments_icon-amatic {
    background-position: -333px -250px;
    width: 99px
}

.partners_icon-bigtimegaming,.payments_icon-bigtimegaming {
    background-position: -333px -63px;
    width: 118px
}

.partners_icon-bigtimegaming,.partners_icon-relax,.payments_icon-bigtimegaming,.payments_icon-relax {
    height: 30px
}

.partners_icon-relax,.payments_icon-relax {
    background-position: 0 -312px;
    width: 97px
}

.partners_icon-spinomenal,.payments_icon-spinomenal {
    background-position: -104px -127px;
    width: 196px;
    height: 23px
}

.partners_icon-belatra,.payments_icon-belatra {
    background-position: -333px -280px
}

.partners_icon-belatra,.partners_icon-betsoft,.payments_icon-belatra,.payments_icon-betsoft {
    width: 99px;
    height: 30px
}

.partners_icon-betsoft,.payments_icon-betsoft {
    background-position: -221px -272px
}

.partners_icon-bfgames,.payments_icon-bfgames {
    background-position: -494px -173px;
    width: 39px
}

.partners_icon-bfgames,.partners_icon-nolimitcity,.payments_icon-bfgames,.payments_icon-nolimitcity {
    height: 30px
}

.partners_icon-nolimitcity,.payments_icon-nolimitcity {
    background-position: -333px -93px;
    width: 112px
}

.partners_icon-endorphina,.payments_icon-endorphina {
    background-position: 0 -127px;
    width: 104px;
    height: 47px
}

.partners_icon-habanero,.payments_icon-habanero {
    background-position: -147px -212px;
    width: 146px
}

.partners_icon-booongo,.partners_icon-habanero,.payments_icon-booongo,.payments_icon-habanero {
    height: 30px
}

.partners_icon-booongo,.payments_icon-booongo {
    background-position: -97px -272px;
    width: 124px
}

.partners_icon-blueprint,.payments_icon-blueprint {
    background-position: -130px -242px;
    width: 128px
}

.partners_icon-blueprint,.partners_icon-evolutiongaming,.payments_icon-blueprint,.payments_icon-evolutiongaming {
    height: 30px
}

.partners_icon-evolutiongaming,.payments_icon-evolutiongaming {
    background-position: -100px 0;
    width: 233px
}

.partners_icon-redtiger,.payments_icon-redtiger {
    background-position: -135px -85px;
    width: 158px;
    height: 30px
}

.partners_icon-tomhorn,.payments_icon-tomhorn {
    background-position: 0 -85px;
    width: 135px;
    height: 42px
}

.partners_icon-comodo_secure,.payments_icon-comodo_secure {
    background-position: 0 0;
    width: 100px;
    height: 85px
}

.partners_icon-18,.payments_icon-18 {
    background-position: 0 -342px;
    width: 53px;
    height: 53px
}

.partners_icon-playson,.payments_icon-playson {
    background-position: 0 -212px;
    width: 147px;
    height: 30px
}

.partners_icon-pragmatic,.payments_icon-pragmatic {
    background-position: -256px -30px;
    width: 77px;
    height: 35px
}

.partners_icon-1x2Gaming,.payments_icon-1x2Gaming {
    background-position: 0 -272px;
    width: 97px;
    height: 40px
}

.partners_icon-2by2Gaming,.payments_icon-2by2Gaming {
    background-position: -333px -123px
}

.partners_icon-2by2Gaming,.partners_icon-ainsworth,.payments_icon-2by2Gaming,.payments_icon-ainsworth {
    width: 111px;
    height: 30px
}

.partners_icon-ainsworth,.payments_icon-ainsworth {
    background-position: -333px -153px
}

.partners_icon-wazdan,.payments_icon-wazdan {
    background-position: -280px -312px;
    width: 150px;
    height: 17px
}

.partners_icon-booming-games,.payments_icon-booming-games {
    background-position: -192px -312px;
    width: 88px;
    height: 30px
}

.partners_icon-ganapati,.payments_icon-ganapati {
    background-position: 0 -174px;
    width: 118px;
    height: 38px
}

.partners_icon-genesis,.payments_icon-genesis {
    background-position: 0 -242px;
    width: 130px;
    height: 30px
}

.partners_icon-irondog,.payments_icon-irondog {
    background-position: -104px -150px;
    width: 120px;
    height: 23px
}

.partners_icon-justforwin,.payments_icon-justforwin {
    background-position: -333px -183px;
    width: 90px;
    height: 37px
}

.partners_icon-rabcat,.payments_icon-rabcat {
    background-position: -333px -30px;
    width: 110px;
    height: 33px
}

.partners_icon-interac-etransfer,.payments_icon-interac-etransfer {
    background-position: -42px -395px
}

.partners_icon-interac-etransfer,.partners_icon-interac-online,.payments_icon-interac-etransfer,.payments_icon-interac-online {
    width: 42px;
    height: 56px
}

.partners_icon-interac-online,.payments_icon-interac-online {
    background-position: -84px -395px
}

.partners_icon-express-connect,.payments_icon-express-connect {
    background-position: 0 -395px;
    width: 42px;
    height: 56px
}

.partners__item {
    margin: 10px;
    display: -webkit-box;
    display: flex;
    height: 30px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

@media (min-width: 768px) {
    .footer__wrapper {
        flex-wrap:nowrap
    }

    .footer__main {
        -webkit-box-flex: 1;
        flex: 1 0 70%
    }

    .footer__aside {
        -webkit-box-flex: 1;
        flex: 1 0 30%
    }
}

.banner {
    position: relative;

    .banner__slider-pagination-wrap {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .swiper-pagination-bullet {
        position: relative;
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: 1px solid #e8ebed;

        &:after {
            content: "";
            width: 60%;
            height: 60%;
            position: absolute;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
        }

        &:not(:last-child) {
            margin-right: 15px;
        }

        &-active {
            border-color: #ff0;

            &:after {
                background-color: #ff0;
            }
        }
    }
}

#wpadminbar + #page {
    .header {
        top: 32px;
    }
}

.site {
    padding-top: 130px;
}

.page-404 {
    text-align: center;

    .btn {
        margin-bottom: 50px;
    }
}

.page-404-content {
    width: 100%;
    padding: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #e9407d;

    .page-404__btn {
        margin: 30px auto;
        display: inline-block;
    }
}
@media (max-width: 768px) {
    .page-404-content {
        margin-bottom: 45px;
        padding: 45px; } }

.page-404__title {
    text-transform: capitalize;
    font-size: 30px;
    line-height: 36px; }

@media (max-width: 767px) {
    .page-404__title {
        font-size: 17px;
        line-height: 19px; } }

.page-404__subtitle {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px; }

@media (max-width: 767px) {
    .page-404__subtitle {
        font-size: 70px;
        line-height: 70px; } }

.page-404__info {
    font-size: 50px;
    line-height: 60px; }

@media (max-width: 767px) {
    .page-404__info {
        font-size: 30px;
        line-height: 40px; } }

.page-404 .particles-container {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh; }

.btn {
    padding: 10px 20px;
    border: 1px solid #ff0;
    margin: 10px auto;
    display: inline-block;
    transition: all .2s ease;

    &:hover {
        background-color: #ff0;
        color: #e9417d;
    }
}