
    <!--=include ./html/header.html -->
    <div class="page game-page">
        <div class="container game-page__container">
            <div class="game-page__buttons">
                <button class="btn btn-shining">Играть на деньги</button>
            </div>
            <div class="game-page__demo">
                <iframe src="https://www.slotsup.com/wp-content/uploads/thunder-cash-ainsworth-casino-slots.png" class="iframe-demo-game"></iframe>
            </div>
            <div class="text-block">
                <div class="container text-block__container">
                    <h2>Title H2</h2>
                    <p>Lorem ipsum dolor sit amem id modi mollitia nobis possimus quas quia quidem, quo recusandae sed vitae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam autem delectus dicta dolor doloremque error est eum id modi mollitia nobis possimus quas quia quidem, quo recusandae sed vitae!</p>
                    <h3>Title H3</h3>
                    <p>Lorem ipsum dolor sicusamus aperiam autem delectus dicta dolor doloremque error est eum id modi mollitia nobis possimus quas quia quidem, quo recusandae sed vitae!</p>
                    <p>Loresamus aperiam autem delectus dicta dolor doloremque error est eum id modi mollitia nobis possimus quas quia quidem, quo recusandae sed vitae!</p>
                    <p>L aperiam autem delectus dicta dolor doloremque error est eum id modi mollitia nobis possimus quas quia quidem, quo recusandae sed vitae!</p>
                </div>
            </div>
        </div>
    </div>
    <!--=include ./html/footer.html -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/js/main.min.js"></script>
</body>
</html>