
    <!--=include ./html/header.html -->
    <div class="banner">
        <div class="banner__container container">
            <div class="banner__slider-wrapper">
                <div class="swiper-container banner__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide banner__slider-item">
                            <a href=""><img src="img/slides/slide1.png" alt=""></a>
                        </div>
                        <div class="swiper-slide banner__slider-item">
                            <a href=""><img src="img/slides/slide1.png" alt=""></a>
                        </div>
                        <div class="swiper-slide banner__slider-item">
                            <a href=""><img src="img/slides/slide1.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="banner__slider-pagination-wrap">
                    <div class="banner__slider-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-menu">
        <div class="container page-menu__container">
            <div class="page-menu__inner">
                <ul>
                    <li><a href="#">Слоты</a></li>
                    <li><a href="#">Джекпоты</a></li>
                    <li><a href="#">Настольные</a></li>
                    <li><a href="#">Видео</a></li>
                    <li><a href="#">Покер</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="games">
        <div class="container games__container">
            <div class="games__filters">
                <div class="games__filters-row">
                    <div class="games__filters-col _left">
                        <div class="games__select js-game-select">
                            <div class="games__select-button js-game-select-button">
                                <span>Провайдеры</span>
                            </div>
                            <div class="games__select-list">
                                <div class="games__select-list-inner">
                                    <div class="games__select-list-item">Все провайдеры</div>
                                    <div class="games__select-list-item"><img src="img/providers/redtiger.png" alt=""></div>
                                    <div class="games__select-list-item"><img src="img/providers/redtiger.png" alt=""></div>
                                    <div class="games__select-list-item"><img src="img/providers/redtiger.png" alt=""></div>
                                    <div class="games__select-list-item"><img src="img/providers/redtiger.png" alt=""></div>
                                    <div class="games__select-list-item"><img src="img/providers/redtiger.png" alt=""></div>
                                    <div class="games__select-list-item"><img src="img/providers/redtiger.png" alt=""></div>
                                    <div class="games__select-list-item"><img src="img/providers/redtiger.png" alt=""></div>
                                    <div class="games__select-list-item"><img src="img/providers/redtiger.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="games__filters-col _right">
                        <div class="games__sort">
                            <div class="games__sort-title">Сотрировка:</div>
                            <div class="games__sort-list">
                                <div class="games__sort-list-item active">Default</div>
                                <div class="games__sort-list-item">Min bet</div>
                                <div class="games__sort-list-item">Max bet</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="games__filters-row">
                    <div class="games__filters-col _left">
                        <div class="games__select js-game-select">
                            <div class="games__select-button js-game-select-button">
                                <span>Волатильность</span>
                            </div>
                            <div class="games__select-list">
                                <div class="games__select-list-inner">
                                    <div class="games__select-list-item">123</div>
                                    <div class="games__select-list-item">345</div>
                                    <div class="games__select-list-item">8768</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="games__filters-col _right"></div>
                </div>
            </div>
            <div class="games__list">
                <div class="game">
                    <img src="img/games/g1.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g2.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g1.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g2.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g1.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g2.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g1.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g2.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g1.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g2.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g1.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g2.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g1.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g2.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g1.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game">
                    <img src="img/games/g2.png" alt="">
                    <div class="game__info">
                        <span>Jackpot</span>
                        <span>169USD</span>
                    </div>
                </div>
                <div class="game _more">
                    +
                    <div class="game__info">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-block">
        <div class="container text-block__container">
            <h2>Title H2</h2>
            <p>Lorem ipsum dolor sit amem id modi mollitia nobis possimus quas quia quidem, quo recusandae sed vitae!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam autem delectus dicta dolor doloremque error est eum id modi mollitia nobis possimus quas quia quidem, quo recusandae sed vitae!</p>
            <h3>Title H3</h3>
            <p>Lorem ipsum dolor sicusamus aperiam autem delectus dicta dolor doloremque error est eum id modi mollitia nobis possimus quas quia quidem, quo recusandae sed vitae!</p>
            <p>Loresamus aperiam autem delectus dicta dolor doloremque error est eum id modi mollitia nobis possimus quas quia quidem, quo recusandae sed vitae!</p>
            <p>L aperiam autem delectus dicta dolor doloremque error est eum id modi mollitia nobis possimus quas quia quidem, quo recusandae sed vitae!</p>
        </div>
    </div>
    <!--=include ./html/footer.html -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/js/main.min.js"></script>
</body>
</html>