<!--=include ./html/header.html -->
<div class="page page-news _single">

    <div class="news-wrap">
        <div class="breadcrumbs-box">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-list__item"><a href="#" class="breadcrumbs-list__link">Главная</a></li>
                <li class="breadcrumbs-list__item"><a href="#" class="breadcrumbs-list__link">Новости</a></li>
                <li class="breadcrumbs-list__item">Лотерея «Идеальная эстафета»</li>
            </ul>
        </div>
        <article class="article-item">
            <h1 class="title">Лотерея «Идеальная эстафета»</h1>
            <div class="article-date-box">
                <svg xmlns="http://www.w3.org/2000/svg" class="article-date-icon">
                    <path d="M13.998,1H12v0.5c0,0.518-0.263,0.975-0.662,1.244c-0.24,0.162-0.528,0.256-0.839,0.256
                                         C9.671,3.001,9,2.329,9,1.5V1H6v0.5c0,0.518-0.263,0.975-0.662,1.244C5.098,2.906,4.81,3.001,4.498,3.001
                                         C3.671,3.001,3,2.329,3,1.5V1H0.998C0.447,1,0,1.447,0,2v14h15V2C15,1.447,14.551,1,13.998,1z M14,9.998c0,3-3,2-3,2
                                         S12.001,15,9.001,15H1V5h13V9.998z M10.5,2C10.776,2,11,1.776,11,1.5v-1C11,0.224,10.776,0,10.5,0C10.224,0,10,0.224,10,0.5v1
                                         C10,1.776,10.224,2,10.5,2z M4.5,2C4.776,2,5,1.776,5,1.5v-1C5,0.224,4.776,0,4.5,0C4.224,0,4,0.224,4,0.5v1
                                         C4,1.776,4.224,2,4.5,2z M4,9H2v2h2V9z M4,12H2v2h2V12z M7,12H5v2h2V12z M7,9H5v2h2V9z M10,9H8v2h2V9z M13,9h-2v2h2V9z M7,6H5v2h2
                                         V6z M10,6H8v2h2V6z M13,6h-2v2h2V6z"></path>
                </svg>
                2019.03.04
            </div>

            <p><img class="article-image" src="https://therightsofnature.org/wp-content/uploads/2018/01/turkey-3048299_1920-1366x550.jpg" alt="Лотерея Идеальная эстафета"></p>
            <h2 class="sub-title">Получи карт-бланш на событие мечты и выиграй до 15 000€!</h2>
            <p>Азарт пульсирует в жилах тех, кто готов побеждать в Идеальной эстафете – дорога к выигрышу начнется с первого билета!</p>
            <p>Получайте один лотерейный билет за каждую ставку или сумму ставок более €20 в играх <a href="#">Strolling Staxx: Cubic Fruits™</a>, <a href="">Turn Your Fortune™</a>, <a href="#">Wild-O-Tron 3000™</a>, <a href="#">Secret of the Stones™</a> и <a href="#">Victorious™</a>.</p>
            <p>С <span class="color-gold">4</span> по <span class="color-gold">10 марта</span> судьи <span class="color-white" style="text-shadow: #ffffff 0 0 15px;"><strong>Net</strong></span><span class="color-green" style="text-shadow: #75bc1b 0 0 15px;"><strong>Ent</strong></span> выберут <strong>300 победителей</strong> – им достанутся купюры до <span class="color-gold">500€</span>, а первый финалист станет <span class="color-gold">VIP-гостем на спортивном событии</span> своей мечты.</p>
            <p>Увидимся на вершине!</p>
        </article>
    </div>

</div>
<!--=include ./html/footer.html -->