<!--=include ./html/header.html -->
<div class="page page-news">

    <div class="news-wrap">


        <div class="title-box page-news__title-box">
            <h1 class="title title-decor title-decor_red">Новости
            </h1>
        </div>


        <div id="news-list-app">
            <div class="promo-list">
                <div class="promo-list__item">
                    <div class="promo-list__item-type _yellow">Акция</div>
                    <div class="promo-item"><a href="#" class="promo-item__link"><img
                            src="img/games/g1.png" class="promo-item__image"
                            alt="promo-image-statuses"/><span class="promo-item__title">Узнайте больше о наших статусах и ТанеБицепс</span></a>
                    </div>
                </div>
                <div class="promo-list__item">
                    <div class="promo-list__item-type _violet">Новость</div>
                    <div class="promo-item"><a href="#" class="promo-item__link"><img
                            src="img/games/g1.png" class="promo-item__image"
                            alt="promo-image-statuses"/><span class="promo-item__title">Узнайте больше о наших статусах и ТанеБицепс</span></a>
                    </div>
                </div>
                <div class="promo-list__item">
                    <div class="promo-list__item-type _yellow">Акция</div>
                    <div class="promo-item"><a href="#" class="promo-item__link"><img
                            src="img/games/g1.png" class="promo-item__image"
                            alt="promo-image-statuses"/><span class="promo-item__title">Узнайте больше о наших статусах и ТанеБицепс</span></a>
                    </div>
                </div>
                <div class="promo-list__item">
                    <div class="promo-list__item-type _violet">Новость</div>
                    <div class="promo-item"><a href="#" class="promo-item__link"><img
                            src="img/games/g1.png" class="promo-item__image"
                            alt="promo-image-statuses"/><span class="promo-item__title">Узнайте больше о наших статусах и ТанеБицепс</span></a>
                    </div>
                </div>
                <div class="promo-list__item">
                    <div class="promo-list__item-type _yellow">Акция</div>
                    <div class="promo-item"><a href="#" class="promo-item__link"><img
                            src="img/games/g1.png" class="promo-item__image"
                            alt="promo-image-statuses"/><span class="promo-item__title">Узнайте больше о наших статусах и ТанеБицепс</span></a>
                    </div>
                </div>
                <div class="promo-list__item">
                    <div class="promo-list__item-type _violet">Новость</div>
                    <div class="promo-item"><a href="#" class="promo-item__link"><img
                            src="img/games/g1.png" class="promo-item__image"
                            alt="promo-image-statuses"/><span class="promo-item__title">Узнайте больше о наших статусах и ТанеБицепс</span></a>
                    </div>
                </div>
                <div class="promo-list__item">
                    <div class="promo-list__item-type _yellow">Акция</div>
                    <div class="promo-item"><a href="#" class="promo-item__link"><img
                            src="img/games/g1.png" class="promo-item__image"
                            alt="promo-image-statuses"/><span class="promo-item__title">Узнайте больше о наших статусах и ТанеБицепс</span></a>
                    </div>
                </div>
                <div class="promo-list__item">
                    <div class="promo-list__item-type _violet">Новость</div>
                    <div class="promo-item"><a href="#" class="promo-item__link"><img
                            src="img/games/g1.png" class="promo-item__image"
                            alt="promo-image-statuses"/><span class="promo-item__title">Узнайте больше о наших статусах и ТанеБицепс</span></a>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>
<!--=include ./html/footer.html -->