<!--=include ./html/header.html -->
<div class="page page-404">
    <div class="page-404-content">
        <div class="page-404__title">
            Oops, an error occurred
        </div>
        <div class="page-404__subtitle">
            404
        </div>
        <div class="page-404__info">
            Page is not found
        </div>
    </div>
    <button class="btn btn-shining page-404__btn">
        На главную
    </button>
</div>
<!--=include ./html/footer.html -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="/js/main.min.js"></script>
</body>
</html>