<!--=include ./html/header.html -->
<div class="page page-tournament">
    <div class="container page-tournament__container">
        <div class="tournament-wrap">
            <div class="title-box page-news__title-box">
                <h1 class="title title-decor title-decor_red">Турниры
                </h1>
            </div>

            <div class="page-tournament__block">
                <div class="page-tournament__subtitle">Активные турниры</div>
                <div class="page-tournament__items">
                    <div class="tournament-item tournament-item_bg">
                        <div class="tournament-description">
                            <div class="tournament-description__item-1">
                                <div class="tournament-title">
                                    <a href="#">Передовик производства</a>
                                </div>

                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Дата проведения турнира</div>
                                    <div class="tournament-list-item-info__value">12.09.2020</div>
                                </div>
                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Тип турнира</div>
                                    <div class="tournament-list-item-info__value">Сумма максимальных множителей</div>
                                </div>
                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Количество призовых мест</div>
                                    <div class="tournament-list-item-info__value">3</div>
                                </div>
                            </div>
                            <div class="tournament-point tournament-description__item-3">
                                <div class="tournament-point-icon-box">
                                    <div class="tournament-point__count">
                                        5 000 000
                                        <span>Поинты</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn-box-center">
                            <button data-popup="xhr" class="btn btn-shining">Участвовать
                            </button>
                        </div>
                    </div>
                    <div class="tournament-item tournament-item_bg">
                        <div class="tournament-description">
                            <div class="tournament-description__item-1">
                                <div class="tournament-title">
                                    <a href="#">Передовик производства</a>
                                </div>

                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Дата проведения турнира</div>
                                    <div class="tournament-list-item-info__value">12.09.2020</div>
                                </div>
                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Тип турнира</div>
                                    <div class="tournament-list-item-info__value">Сумма максимальных множителей</div>
                                </div>
                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Количество призовых мест</div>
                                    <div class="tournament-list-item-info__value">3</div>
                                </div>
                            </div>
                            <div class="tournament-point tournament-description__item-3">
                                <div class="tournament-point-icon-box">
                                    <div class="tournament-point__count">
                                        5 000 000
                                        <span>Поинты</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn-box-center">
                            <button data-popup="xhr" class="btn btn-shining">Участвовать
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-tournament__block">
                <div class="page-tournament__subtitle">Завершенные турниры</div>
                <div class="page-tournament__items">
                    <div class="tournament-item tournament-item_bg">
                        <div class="tournament-description">
                            <div class="tournament-description__item-1">
                                <div class="tournament-title">
                                    <a href="#">Передовик производства</a>
                                </div>

                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Дата проведения турнира</div>
                                    <div class="tournament-list-item-info__value">12.09.2020</div>
                                </div>
                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Тип турнира</div>
                                    <div class="tournament-list-item-info__value">Сумма максимальных множителей</div>
                                </div>
                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Количество призовых мест</div>
                                    <div class="tournament-list-item-info__value">3</div>
                                </div>
                            </div>
                            <div class="tournament-point tournament-description__item-3">
                                <div class="tournament-point-icon-box">
                                    <div class="tournament-point__count">
                                        5 000 000
                                        <span>Поинты</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tournament-item tournament-item_bg">
                        <div class="tournament-description">
                            <div class="tournament-description__item-1">
                                <div class="tournament-title">
                                    <a href="#">Передовик производства</a>
                                </div>

                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Дата проведения турнира</div>
                                    <div class="tournament-list-item-info__value">12.09.2020</div>
                                </div>
                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Тип турнира</div>
                                    <div class="tournament-list-item-info__value">Сумма максимальных множителей</div>
                                </div>
                                <div class="tournament-list-item-info">
                                    <div class="tournament-list-item-info__title">Количество призовых мест</div>
                                    <div class="tournament-list-item-info__value">3</div>
                                </div>
                            </div>
                            <div class="tournament-point tournament-description__item-3">
                                <div class="tournament-point-icon-box">
                                    <div class="tournament-point__count">
                                        5 000 000
                                        <span>Поинты</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=include ./html/footer.html -->